/* .locate-us-section {
  background-color: #f5f5f7;
} */

/* added default font style for office logo */
@font-face {
  font-family: 'MyCopperplate';
  src: local('MyCopperplate'), url(../fonts/Copperplate-Gothic-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'MyCopperplateBold';
  src: local('MyCopperplateBold'), url(../fonts/Copperplate-Gothic-Bold.otf) format('truetype');
}

.react-multiple-carousel__arrow {
  outline: none !important;
}

.home-heading {
  color: #a3a3a3;
  font-weight: 500;
}

.home-description{
  color: #333333;
  font-weight: 400;
}

.section {
  background-color: #f2f2f2;
}

.section-content {
  margin: 30px 0 0;
}

.section-heading {
  color: #888;
  font-weight: 500;
}

.section-subheading{
  color: #333333;
  font-weight: 400;
}

.section-description{
  color: #666666;
}

/* fonts */
.home-description,
.section-description, 
.section-subheading{
  font-family: "SF Pro Display", "SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.home-heading,
.section-heading{
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/* Insta Feed */

.instaSection{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.insta-heading{
  color: #916436;
  font-weight: 500;
}


@media only screen and (max-width: 1280px) {
  .instaSection,
  .insta-heading {
    display: none !important;
  }
}


.instaPost{
  display: inline-block;
}

.instaLink {
  display: flex;
  gap: 10px;
  align-items: center;
}

.visit-content{
  width: 100%;
}

.map-container{
  display: flex;
  justify-content: center;
}