/* .locate-us-section {
  background-color: #f5f5f7;
} */

/* added default font style for office logo */
@font-face {
  font-family: 'MyCopperplate';
  src: local('MyCopperplate'), url(../fonts/Copperplate-Gothic-Regular.otf) format('truetype');
}

@font-face {
  font-family: 'MyCopperplateBold';
  src: local('MyCopperplateBold'), url(../fonts/Copperplate-Gothic-Bold.otf) format('truetype');
}

@font-face {
  font-family: 'MyLucida';
  src: local('MyLucida'), url(../fonts/LucidaHandwritingStdRg.woff) format('truetype');
}

.react-multiple-carousel__arrow {
  outline: none !important;
}

.home-heading {
  color: #bbbbbb;
  font-weight: 500;
}

.home-description{
  color: #333333;
  font-weight: 400;
}

.section {
  background-color: #f2f2f2;
}

.section-content {
  margin: 30px 0 0;
}

.section-heading {
  color: #b3b3b3;
  font-weight: 500;
}

.section-subheading{
  color: #333333;
  font-weight: 400;
}

.section-description{
  color: #666666;
  font-weight: 400;
}

/* fonts */
.home-description,
.section-description, 
.section-subheading{
  font-family: "SF Pro Display", "SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.home-heading,
.section-heading{
  font-family: 'SF Pro Text', 'Myriad Set Pro', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

/* Insta Feed */

.instaSection{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.insta-heading{
  color: #916436;
  font-weight: 500;
  margin-top: 2em;
}


@media only screen and (max-width: 1280px) {
  .instaSection,
  .insta-heading {
    display: none !important;
  }
}


.instaPost{
  display: inline-block;
}

.more-link-container{
  padding: 1em 0;
}

.insta-hash {
  height: 55px;
  padding: 0.5em 1em;
  float: right;
  color: #008bb9;
  display: inline-flex;
  transition: ease-in-out 100ms;
}

.insta-hash:hover {
  color: #005e7e;
}

.insta-hash-icon{
  color: #cfcfcf;
  margin-right: 2px;
}

.insta-hash:hover .insta-hash-icon{
  color: #bbbbbb;
}

.more-link {
  padding: 0.5em 1em;
  color: #916436;
  display: inline-flex;
  gap: 10px;
  align-items: center;
  border: 1px solid #916436;
  border-radius: 5px;
  transition: ease-in-out 100ms;
}

.more-link:hover {
  color: #fff;
  background-color: #916436;
}

.visit-content{
  width: 100%;
}

.map-container, 
.map-container-lg{
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .map-container-lg {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  .map-container {
    display: none !important;
  }
}